<html>
  <head>
    <title>
      {{{ yieldContent 'title' 'Marks and Signs' }}}
    </title>
  </head>
  <body>
    {{{ yieldContent }}}
    <aside>
      {{# yieldContent 'aside' }}
      <p>Strokes</p>
      {{/ yieldContent }}
    </aside>
  </body>
</html>
