{{{ partial 'title' }}}
<p>
  Quote:
  {{{ partial 'quote' quote='I should give you a kiss!' }}}
  Info:
  {{{ partial 'info' info='She has four cell phones, all of which she can use at the same time with her paws.' }}}
  Appearances:
</p>
